<div class="container">
    <div class="row">
        <!-- Tabs -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ t('Data') }}
                </div>

                <div class="panel-body">
                    <div>
                        <ul class="nav">
                           <li *ngFor="let tab of tabs">
                               <a href="#{{tab.key}}" data-toggle="tab" (click)="changeTab(tab.key)">
                                   <i class="{{tab.icon}}"></i>&nbsp;{{tab.name}}
                               </a>
                           </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tab Panes -->
        <div class="col-md-8">
            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ t('Data') }}
                        </div>

                        <div class="panel-body">
                            Selecione
                        </div>
                    </div>
                </div>
                <div *ngFor="let tab of tabs" id="{{ tab.key }}" class="tab-pane fade">
                    <app-tab-detail [tab]="tab"></app-tab-detail>
                </div>
            </div>
        </div>
    </div>
</div>
